/*
*   My custom stylesheet for my app
*/


.home-bg{
    background-color: #3D5046;
}
.navbar{
    background-color : #FAFAF9;
}
.card{
    margin: 5px;
    background-color : #FAFAF9;
}
.lineup-row:nth-child(odd){
    background-color : #decbc8;
}
.lineup-row:nth-child(even){
    background-color : #90B3AE;
}
.position{
    text-align: center;
    padding: 5px;
    border-left: 2px solid #FAFAF9;
    border-top: 2px solid #FAFAF9;
}
.card-header{

}