<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Hockey 2019 Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/font-awesome-4.7.0/font-awesome.min.css" rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
</head>
<body class = "home-bg">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href = "@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href = "@{/search?searchString=}">View All Players <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}" th:object = "${searchCommand}" >
                <input class="form-control mr-sm-2" th:field = "*{searchString}" />

                <input type="submit" value = "Search Teams"></button>
            </form>
        </ul>

    </div>
</nav>

<!-- NavBar ends, start home page -->

<div class="container-fluid" style="margin-top: 15px;">
    <div class = "row">
        <div class = "col-md-2">
            <a class = "btn btn-minus" th:href ="@{'/team/'+ ${currentTeam-1}}">
                <i class="fa fa-arrow-circle-left fa-2x " style= "color:white;" aria-hidden="true"></i>
            </a>
        </div>
        <div class = "col-md-8" align = "center">
            <h3 style = "color: white"th:text = "${team.teamName}"></h3>
        </div>
        <div class = "col-md-2">
            <a class = "btn btn-minus" th:href ="@{'/team/'+ ${currentTeam+1}}">
                <i class="fas fa fa-arrow-circle-right fa-2x " style= "color:white;"aria-hidden="true" ></i>
            </a>
        </div>
    </div>
    <div class = "row" >
        <div class = "col-md-5">
            <div class = "card">
                <div class="card-header">
                    <h3 th:text="${situation}"/>
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose Situation
                        </button>
                        <div class="dropdown-menu">
                            <form method="POST" th:action="@{/changeSituation}" th:object ="${model}">
                                <button type="submit" class="dropdown-item" name="situation" value = "5V5">5 v 5</button>
                            </form>
                            <form method="POST" th:action="@{/changeSituation}" th:object = "${model}">
                                <button type="submit" class="dropdown-item" name="situation" value = "PP">Powerplay </button>
                            </form>
                            <a class="dropdown-item" href="#">5 v 5</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Power Play</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Penalty Kill</a>
                            <a class="dropdown-item" href="#">3 v 5</a>
                            <a class="dropdown-item" href="#">4 v 4</a>
                        </div>
                    </div>
                </div>
                <div class = "col card-body">
                    <!-- Adjust whether man advantage or even strength -->

                        <h5  align="center"> 5V5 FORWARD LINES</h5>
                        <form method="POST" th:action="@{/confirmLines}" th:object = "${team}">
                            <div class = "row  lineup-row">
                                <div id = "lw1" class = "col-md-4 position droppable draggable " th:text = "${team.sLW1}"> Left Wing</div>
                                <input id = "lw1-id" hidden = "true" th:field = "*{LW1}" ></input>
                                <div id = "c1" class = "col-md-4  position droppable draggable" th:text = "${team.sC1}"> Center </div>
                                <input id = "c1-id" hidden = "true" th:field = "*{C1}" ></input>
                                <div id = "rw1" class = "col-md-4  position droppable draggable" th:text = "${team.sRW1}" > Right Wing</div>
                                <input id = "rw1-id" hidden = "true" th:field = "*{RW1}" ></input>
                            </div>

                            <div class = "row  lineup-row">
                                <div id = "lw2" class = "col-md-4  position droppable draggable" th:text= "${team.sLW2}" > Left Wing</div>
                                <input id = "lw2-id" hidden = "true" th:field = "*{LW2}" ></input>
                                <div id = "c2" class = "col-md-4  position droppable draggable" th:text = "${team.sC2}" > Center</div>
                                <input id = "c2-id" hidden = "true" th:field = "*{C2}" ></input>
                                <div id = "rw2" class = "col-md-4  position droppable draggable" th:text = "${team.sRW2}" > Right Wing</div>
                                <input id = "rw2-id" hidden = "true" th:field = "*{RW2}" ></input>
                            </div>

                            <div class = "row  lineup-row">
                                <div id = "lw3" class = "col-md-4 position droppable draggable" th:text = "${team.sLW3}" > Left Wing</div>
                                <input id = "lw3-id" hidden = "true" th:field = "*{LW3}"></input>
                                <div id = "c3" class = "col-md-4 position droppable draggable" th:text = "${team.sC3}" > Center</div>
                                <input id = "c3-id" hidden = "true" th:field = "*{C3}"></input>
                                <div id = "rw3" class = "col-md-4 position droppable draggable" th:text = "${team.sRW3}" > Right Wing</div>
                                <input id = "rw3-id" hidden = "true" th:field = "*{RW3}" ></input>
                            </div>

                            <div class = "row  lineup-row">
                                <div id = "lw4" class = "col-md-4 position droppable draggable" th:text = "${team.sLW4}"  > Left Wing</div>
                                <input id = "lw4-id" hidden = "true" th:field = "*{LW4}" ></input>
                                <div id = "c4" class = "col-md-4 position droppable draggable" th:text = "${team.sC4}" > Center</div>
                                <input id = "c4-id" hidden = "true" th:field = "*{C4}" ></input>
                                <div id = "rw4" class = "col-md-4 position droppable draggable" th:text = "${team.sRW4}"> Right Wing</div>
                                <input id = "rw4-id" hidden = "true" th:field = "*{RW4}" ></input>
                            </div>

                            <h5 style="margin-top:8px" align="center"> 5V5 DEFENSIVE PAIRS</h5>
                            <div class = "row  lineup-row" >
                                <div id = "ld1" class = "col-md-6  position droppable draggable" th:text = "${team.sLD1}"  >Left Defense</div>
                                <input id = "ld1-id" hidden = "true" th:field = "*{LD1}" ></input>

                                <div id = "rd1" class = "col-md-6  position droppable draggable" th:text = "${team.sRD1}"  >Right Defense</div>
                                <input id = "rd1-id" hidden = "true" th:field = "*{RD1}" ></input>
                            </div>
                            <div class = "row  lineup-row" >
                                <div id = "ld2" class = "col-md-6  position droppable draggable" th:text = "${team.sLD2}"  >Left Defense</div>
                                <input id = "ld2-id" hidden = "true" th:field = "*{LD2}" ></input>

                                <div id = "rd2" class = "col-md-6  position droppable draggable" th:text = "${team.sRD2}"  >Right Defense</div>
                                <input id = "rd2-id" hidden = "true" th:field = "*{RD2}" ></input>
                            </div>
                            <div class = "row  lineup-row" >
                                <div id = "ld3" class = "col-md-6  position droppable draggable" th:text = "${team.sLD3}"  >Left Defense</div>
                                <input id = "ld3-id" hidden = "true" th:field = "*{LD3}" ></input>

                                <div id = "rd3" class = "col-md-6  position droppable draggable" th:text = "${team.sRD3}"  >Right Defense</div>
                                <input id = "rd3-id" hidden = "true" th:field = "*{RD3}" ></input>
                            </div>
                            <div id = "goal-row  lineup-row" class = "row">
                                <div id = "g1" class = "col-md-12  position droppable draggable" th:text = "${team.sG1}"  >Starting Goaltender</div>
                                <input id = "g1-id" hidden = "true" th:field = "*{G1}" ></input>
                            </div>
                            <div id = "goal-row2  lineup-row" class = "row" >
                                <div id = "g2" class = "col-md-12  position droppable draggable" th:text = "${team.sG2}"> Backup Goaltender</div>
                                <input id = "g2-id" hidden = "true" th:field = "*{G2}" ></input>
                            </div>
                            <input class = "btn" type = "submit" value = "Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        <div class = "col-md-7">
            <div class = "card">
                <div class="card-header">Roster</div>
                <div class = "col card-body">
                    <h2>Add Player Information</h2>
                    <div class = "row">
                        <form method = "POST" th:action = "@{/addPlayer}" th:object = "${player}">
                            <table>
                                <tr>
                                    <td><label >Name</label></td>
                                    <td><input th:field = "*{name}" /></td>
                                </tr>
                                <tr>
                                    <td><label >Position</label></td>
                                    <td><input th:field = "*{position}" /></td>
                                </tr>
                                <tr>
                                    <td><label >Off Skills</label></td>
                                    <td><input th:field = "*{offskills}" /></td>
                                </tr>
                                <tr>
                                    <td><label> Def skills</label></td>
                                    <td><input th:field = "*{defskills}" /></td>
                                </tr>
                                <tr>
                                    <td colspan = "2">
                                        <input type = "submit" value = "Submit"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class = "row mt-5">
                        <table class = "table table-hover ">
                            <thead>
                            <tr>
                                <th scope = 'col'>Name</th>
                                <th scope = 'col'>Position</th>
                                <th scope = 'col'>Offense Skills</th>
                                <th scope = 'col'>Defensive Skills</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class = "clickable-row draggable"  th:each="player,iterStat: ${players}">
                                    <td id ="name" th:text = "${player.name}" />
                                    <td  id="id"  th:text="${player.id}" hidden="true"/>
                                    <td th:text = "${player.position}" />
                                    <td th:text = "${player.offskills}" />
                                    <td th:text= "${player.defskills}" />
                                    <td>
                                        <button class="btn btn-minus btn-sm" >
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <a class = "btn btn-minus" th:href ="@{'/player/'+ ${player.id}}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            View
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>

<script>
         $(function() {
            $('.draggable').draggable({
                helper: "clone"
            });
            $('.droppable').droppable({
               hoverClass: "lineup-drop-hover",
               accept: ".draggable",
               drop: function(e, ui) {
                  if(!ui.draggable.hasClass('droppable')){
                      var name = ui.draggable.find('td:first').text();
                      var pid = ui.draggable.find('td:nth-child(2)').text();
                      $(this)
                          .val(name)
                          .text(name);
                      var element = '#' + this.id + '-id';
                      $(element)
                          .val(pid)
                          .text(pid);
                  }
                  else{
                      var name = ui.draggable.text();
                      var pid = $('#' + ui.draggable.prop('id') + '-id').val();
                      $(this)
                          .val(name)
                          .text(name);
                      var element = '#' + this.id + '-id';
                      $(element)
                          .val(pid)
                          .text(pid);
                  }
               }
            });
         });
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>