<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">

    <br>
    <form method="get" th:action="@{/search}" th:object = "${searchCommand}" >
            <input th:field = "*{searchString}" />

            <input type="submit" value = "Search Teams"></button>
    </form>

    <br>
    <br>
    <br>

    <h2>Add Player Information</h2>
    <form method = "POST" th:action = "@{/addPlayer}" th:object = "${player}">
        <table>
            <tr>
                <td><label >Name</label></td>
                <td><input th:field = "*{name}" /></td>
            </tr>
            <tr>
                <td><label >Off Skills</label></td>
                <td><input th:field = "*{offskills}" /></td>
            </tr>
            <tr>
                <td><label> Def skills</label></td>
                <td><input th:field = "*{defskills}" /></td>
            </tr>
            <tr>
                <td colspan = "2">
                    <input type = "submit" value = "Submit"/>
                </td>
            </tr>
        </table>
    </form>

</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>